<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="connectWallet()">
        CONNECT
    </button>

    <script>
        // let publicKey;
        // // tự dộngs
        // (async () => {
        //     await window.phantom.solana.connect();
        //     publicKey = window.phantom.solana.publicKey.toBase58();
        //     console.log(publicKey);
        // })();


        // thủ công
        const connectWallet = async () => {
            await window.phantom.solana.connect();
            publicKey = window.phantom.solana.publicKey.toBase58();
            console.log(publicKey);

        }
    </script>
</body>

</html>