<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Buy - sell exchange tickets </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">


</head>

<body>

<!-- Spinner Start -->
<div id="spinner"
     class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->

<!-- Header Stars -->
<div id="header"></div>
<!-- Header End-->

<!-- Carousel Start -->
<div class="container-fluid carousel-header vh-100 px-0 mt-5">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="img/anh1.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Chào Mừng
                            Đến Với PassExChange
                        </h4>
                        <h1 class="display-1 text-capitalize text-white mb-4">Mua & bán vé ngay hôm nay</h1>
                        <p class="mb-5 fs-5">Đặt vé xem hòa nhạc, thể thao, sân khấu và phim ảnh. Khám phá những
                            trải nghiệm mới và tận hưởng những khoảnh khắc khó quên cùng chúng tôi.
                        </p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary text-white py-3 px-5" href="#"
                               style="border-radius: 8px;">Khám Phá Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/anhbia2.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="carousel-caption">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Chào
                                Mừng
                                Đến Với PassExChange
                            </h4>
                            <h1 class="display-1 text-capitalize text-white mb-4">Mua & bán vé ngay hôm nay
                            </h1>
                            <p class="mb-5 fs-5">Đặt vé xem hòa nhạc, thể thao, sân khấu và phim ảnh. Khám phá những
                                trải nghiệm mới và tận hưởng những khoảnh khắc khó quên cùng chúng tôi.
                            </p>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn-hover-bg btn btn-primary text-white py-3 px-5" href="#"
                                   style="border-radius: 8px;">Khám Phá Ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/anhbia3.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Chào Mừng
                            Đến Với PassExChange
                        </h4>
                        <h1 class="display-1 text-capitalize text-white mb-4">Mua & bán vé ngay hôm nay</h1>
                        <p class="mb-5 fs-5">Đặt vé xem hòa nhạc, thể thao, sân khấu và phim ảnh. Khám phá những
                            trải nghiệm mới và tận hưởng những khoảnh khắc khó quên cùng chúng tôi.
                        </p>
                        <div class="d-flex align-items-center justify-content-center">
                            <a class="btn-hover-bg btn btn-primary text-white py-3 px-5" href="#"
                               style="border-radius: 8px;">Khám Phá Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-5">
                <div class="h-100">
                    <img src="img/about.jpg" class="img-fluid w-100 h-100" alt="Image">
                </div>
            </div>
            <div class="col-xl-7">
                <h5 class="text-uppercase text-primary">Về Chúng Tôi</h5>
                <h1 class="mb-4">Cánh Cửa Dẫn Đến Những Trải Nghiệm Đáng Nhớ</h1>
                <p class="fs-5 mb-4">Chào mừng bạn đến với PassExChange - nền tảng hàng đầu cho phép bạn dễ dàng mua
                    và bán vé cho các sự kiện âm nhạc, thể thao, sân khấu và nhiều hơn nữa. Với sứ mệnh mang đến
                    trải nghiệm liền mạch, chúng tôi cam kết cung cấp quy trình đặt vé nhanh chóng, giao dịch an
                    toàn và hỗ trợ khách hàng tận tâm. Dù bạn là người đang tìm kiếm vé cho sự kiện yêu thích hay
                    muốn bán lại vé, chúng tôi luôn đồng hành cùng bạn với một nền tảng đáng tin cậy và dễ sử dụng,
                    giúp bạn tận hưởng những khoảnh khắc đáng nhớ.</p>
                <div class="tab-class bg-secondary p-4">
                    <ul class="nav d-flex mb-2">
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 text-center bg-white active" data-bs-toggle="pill" href="#tab-1"
                               style="border-radius: 8px;">
                                    <span class="text-dark" style="width: 150px;">Về Chúng
                                        Tôi</span>
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 mx-3 text-center bg-white" data-bs-toggle="pill" href="#tab-2"
                               style="border-radius: 8px;">
                                <span class="text-dark" style="width: 150px;">Sứ mệnh</span>
                            </a>
                        </li>
                        <li class="nav-item mb-3">
                            <a class="d-flex py-2 text-center bg-white" data-bs-toggle="pill" href="#tab-3"
                               style="border-radius: 8px;">
                                <span class="text-dark" style="width: 150px;">Tầm Nhìn</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3">Về Dịch Vụ Của Chúng Tôi</h5>
                                            <p class="mb-4">Chúng tôi cam kết mang đến cho bạn trải nghiệm mua vé
                                                tốt nhất. Dù bạn là người yêu thích âm nhạc trực tiếp, các sự kiện
                                                thể thao, hay những buổi diễn sân khấu, chúng tôi đều có vé cho tất
                                                cả các sự kiện yêu thích của bạn. Nền tảng của chúng tôi cho phép
                                                bạn dễ dàng mua hoặc bán vé, với các tùy chọn thanh toán an toàn và
                                                dịch vụ hỗ trợ khách hàng xuất sắc.</p>
                                            <div class="d-flex align-items-center justify-content-start">
                                                <a class="btn-hover-bg btn btn-primary text-white py-2 px-4"
                                                   href="#" style="border-radius: 8px;">Tìm Hiểu Thêm</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3">Sứ Mệnh Của Chúng Tôi</h5>
                                            <p class="mb-4">Sứ mệnh của chúng tôi là mang đến trải nghiệm đặt vé dễ
                                                dàng và thú vị nhất, đảm bảo khách hàng có cơ hội tiếp cận với những
                                                sự kiện và trải nghiệm tuyệt vời. Đồng thời quý khách cũng có thể
                                                bán lại những vé đó lại cho những người khác với sự an toàn tuyệt
                                                đối</p>
                                            <div class="d-flex align-items-center justify-content-start">
                                                <a class="btn-hover-bg btn btn-primary text-white py-2 px-4"
                                                   href="#" style="border-radius: 8px;">Tìm Hiểu Thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-3" class="tab-pane fade show p-0">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex">
                                        <div class="text-start my-auto">
                                            <h5 class="text-uppercase mb-3">Tầm Nhìn Của Chúng Tôi</h5>
                                            <p class="mb-4">Chúng tôi hình dung một thế giới nơi mọi người đều có cơ
                                                hội trải nghiệm niềm vui và sự phấn khích từ các sự kiện trực tiếp,
                                                tạo ra những kỷ niệm kéo dài suốt đời. Tầm nhìn của chúng tôi là trở
                                                thành nền tảng bán vé đáng tin cậy và thân thiện nhất, kết nối người
                                                hâm mộ với những sự kiện yêu thích một cách liền mạch.</p>
                                            <div class="d-flex align-items-center justify-content-start">
                                                <a class="btn-hover-bg btn btn-primary text-white py-2 px-4"
                                                   href="#" style="border-radius: 8px;">Tìm Hiểu Thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Services Start -->
<div class="container-fluid service py-3 bg-dark"
     style="border-top: 3px; border-right: 0; border-bottom: 0; border-left: 0; border-style: dotted; border-color: var(--bs-light);">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Sự Kiện Đặc Biệt</h5>
            <h1 class="mb-0" style="color: white;">Danh Sách Sự Kiện Đặc Biệt</h1>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <button class="btn btn-primary btn-lg" style="border-radius: 8px;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="w-20"></div>
            <button class="btn btn-primary btn-lg" style="border-radius: 8px;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>

        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/hatran.jpg" class="img-fluid w-100" alt="Hà Trần: Thiên Hà Tinh Khôi">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="ticketdetails.html" class="location-text mb-2">Hà Trần: Thiên Hà Tinh Khôi</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">Giá từ: 1.200.000đ</a>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/camly.jpg" class="img-fluid w-100" alt="Liveshow Cẩm Ly">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body "><i class="fas fa-calendar-alt me-1"></i>10/3/2024</span>
                    </div>
                    <a href="#" class="location-text mb-2">Liveshow Cẩm Ly - Kỷ niệm 30 năm ca hát - Tự tình quê
                        hương 6</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/trungquan1.jpg" class="img-fluid w-100" alt="TRUNG QUÂN 1689">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>Hà Nội</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">TRUNG QUÂN 1689 - More than 1589</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/duymanh1.jpg" class="img-fluid w-100"
                             alt="HARMONY SHOW | TÌNH EM LÀ ĐẠI DƯƠNG">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>Hà Nội</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">HARMONY SHOW | TÌNH EM LÀ ĐẠI DƯƠNG | DUY MẠNH - LƯƠNG
                        BÍCH HỮU</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services End -->

<!-- Trending Start -->
<div class="container-fluid service py-3 bg-dark"
     style="border-top: 3px; border-right: 0; border-bottom: 0; border-left: 0; border-style: dotted; border-color: var(--bs-light);">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Sự Kiện Xu Hướng</h5>
            <h1 class="mb-0 text-light">Danh Sách Những Sự Kiện Xu Hướng</h1>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <button class="btn btn-primary btn-lg" style="border-radius: 8px;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="w-20"></div>
            <button class="btn btn-primary btn-lg" style="border-radius: 8px;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>

        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/hatran.jpg" class="img-fluid w-100" alt="Hà Trần: Thiên Hà Tinh Khôi">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">Hà Trần: Thiên Hà Tinh Khôi</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                        <span class="text-muted">Date: 25/12/2023</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/camly.jpg" class="img-fluid w-100" alt="Liveshow Cẩm Ly">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body "><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">Liveshow Cẩm Ly - Kỷ niệm 30 năm ca hát - Tự tình quê
                        hương 6</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                        <span class="text-muted">Date: 25/12/2023</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/trungquan1.jpg" class="img-fluid w-100" alt="TRUNG QUÂN 1689">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">TRUNG QUÂN 1689 - More than 1589</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                        <span class="text-muted">Date: 25/12/2023</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/duymanh1.jpg" class="img-fluid w-100"
                             alt="HARMONY SHOW | TÌNH EM LÀ ĐẠI DƯƠNG">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">HARMONY SHOW | TÌNH EM LÀ ĐẠI DƯƠNG | DUY MẠNH - LƯƠNG
                        BÍCH HỮU</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                        <span class="text-muted">Date: 25/12/2023</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Trending End -->

<!-- Section Movie Start -->
<div class="container-fluid service py-3 bg-dark"
     style="border-top: 3px; border-right: 0; border-bottom: 0; border-left: 0; border-style: dotted; border-color: var(--bs-light);">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Vé Xem Phim</h5>
            <h1 class="mb-0 text-light">Danh sách vé xem phim Hot</h1>
        </div>

        <div class="d-flex justify-content-between mb-2">
            <button class="btn btn-primary btn-lg" style="border-radius: 8px;">
                <i class="bi bi-arrow-left"></i>
            </button>
            <div class="w-20"></div>
            <button class="btn btn-primary btn-lg" style="border-radius: 8px;">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>

        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/doraemon.jpg" class="img-fluid w-100"
                             alt="Doraemon - Nobita và bản giao hưởng địa cầu">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">Doraemon - Nobita và bản giao hưởng địa cầu</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                        <span class="text-muted">Date: 25/12/2023</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/nhungmanhghep.png" class="img-fluid w-100" alt="Những mảnh ghép cảm xúc 2">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body "><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">Những mảnh ghép cảm xúc 2</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                        <span class="text-muted">Date: 25/12/2023</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/giataicuangoai.jpg" class="img-fluid w-100" alt="Gia Tài Của Ngoại">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">Gia Tài Của Ngoại</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                        <span class="text-muted">Date: 25/12/2023</span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="service-item">
                    <a href="ticketdetails.html">
                        <img src="img/thaytruta.jpg" class="img-fluid w-100" alt="Thầy trừ tà">
                    </a>
                </div>
                <div class="service-link d-flex flex-column align-items-start p-3 bg-light rounded shadow-sm">
                    <div class="d-flex justify-content-between mb-4">
                        <span class="text-body me-3"><i class="fas fa-map-marker-alt me-1"></i>TP Hồ Chí Minh</span>
                        <span class="text-body"><i class="fas fa-calendar-alt me-1"></i>25/12/2023</span>
                    </div>
                    <a href="#" class="location-text mb-2">Thầy trừ tà</a>
                    <div class="d-flex justify-content-between w-100">
                        <a href="#" class="h4 mb-0 price-text">From: 1.200.000đ</a>
                        <span class="text-muted">Date: 25/12/2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Section movie End -->

<!-- Counter Start -->
<div class="container-fluid counter py-5"
     style="background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.4)), url(img/volunteers-bg.jpg) center center; background-size: cover; border-top: 3px; border-right: 0; border-bottom: 0; border-left: 0; border-style: dotted; border-color: var(--bs-light);">
    <div class=" container py-5">
        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Thành tích chúng tôi đạt được trong năm 2024</h5>
            <p style="color: white;">Chúng tôi luôn lắng nghe và sẵn sàng thay đổi mỗi ngày để làm hài lòng mọi
                khách hàng
            </p>
        </div>

        <div class="row g-4">
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="counter-item text-center border p-5">
                    <i class="fas fa-ticket-alt fa-4x text-white"></i>
                    <h3 class="text-white my-4">Vé đã Pass</h3>
                    <div class="counter-counting">
                        <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">2500</span>
                        <span class="h1 fw-bold text-primary">+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="counter-item text-center border p-5">
                    <i class="fas fa-coins fa-4x text-white"></i>
                    <h3 class="text-white my-4">Doanh thu</h3>
                    <div class="counter-counting text-center border-white w-100"
                         style="border-style: dotted; font-size: 30px;">
                        <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">150,000</span>
                        <span class="fw-bold text-primary"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="counter-item text-center border p-5">
                    <i class="fas fa-user-friends fa-4x text-white"></i>
                    <h3 class="text-white my-4">Số người truy cập</h3>
                    <div class="counter-counting text-center border-white w-100"
                         style="border-style: dotted; font-size: 30px;">
                        <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">4500</span>
                        <span class="h1 fw-bold text-primary">+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="counter-item text-center border p-5">
                    <i class="fas fa-calendar-alt fa-4x text-white"></i>
                    <h3 class="text-white my-4">Những loại vé sự kiện hiện có</h3>
                    <div class="counter-counting text-center border-white w-100"
                         style="border-style: dotted; font-size: 30px;">
                        <span class="text-primary fs-2 fw-bold" data-toggle="counter-up">20</span>
                        <span class="h1 fw-bold text-primary">+</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center">
                    <a class="btn-hover-bg btn btn-primary text-white py-2 px-4" href="#"
                       style="border-radius: 8px;">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter End -->

<!-- Causes Start -->
<div class="container-fluid causes py-5"
     style="border-top: 3px; border-right: 0; border-bottom: 0; border-left: 0; border-style: dotted;">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5" style="max-width: 800px;">
            <h5 class="text-uppercase text-primary">Một số loại vé hấp dẫn khác</h5>
            <h1 class="mb-4">Danh sách vé Workshop</h1>
        </div>
        <div class="row g-4">
            <!-- Ticket Item Start -->
            <div class="col-lg-6 col-xl-3">
                <div class="causes-item">
                    <div class="causes-img">
                        <img src="img/M1.jpg" class="img-fluid w-100" alt="Concert Ticket">
                        <div class="causes-link pb-2 px-3">
                            <small class="text-white"><i class="fas fa-chart-bar text-primary me-2"></i>Giá từ:
                                450.000</small>
                            <small class="text-white"><i class="fa fa-thumbs-up text-primary me-2"></i>Số lượng:
                                50</small>
                        </div>
                        <div class="causes-dination p-2">
                            <a class="btn-hover-bg btn btn-primary text-white py-2 px-3" href="#"
                               style="border-radius: 8px;">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="causes-content p-4">
                        <h4 class="mb-3">Tinh dầu khuếch tán</h4>
                        <p class="mb-4">Khóa học làm tinh dầu khuếch tán giúp bạn tiết kiệm chi phí đáng kể so với
                            việc mua sẵn trên thị trường. Đặc biệt, khi đã trở thành chuyên gia, bạn có thể tự ...
                        </p>
                        <a class="btn-hover-bg btn btn-primary text-white py-2 px-3" href="#"
                           style="border-radius: 8px;">Mua Ngay</a>
                    </div>
                </div>
            </div>
            <!-- Ticket Item End -->

            <!-- Ticket Item Start -->
            <div class="col-lg-6 col-xl-3">
                <div class="causes-item">
                    <div class="causes-img">
                        <img src="img/M4.jpg" class="img-fluid w-100" alt="Theater Ticket">
                        <div class="causes-link pb-2 px-3">
                            <small class="text-white"><i class="fas fa-chart-bar text-primary me-2"></i>Giá từ:
                                350.000</small>
                            <small class="text-white"><i class="fa fa-thumbs-up text-primary me-2"></i>Số lượng:
                                30</small>
                        </div>
                        <div class="causes-dination p-2">
                            <a class="btn-hover-bg btn btn-primary text-white py-2 px-3" href="#"
                               style="border-radius: 8px;">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="causes-content p-4">
                        <h4 class="mb-3">Plant Artist</h4>
                        <p class="mb-4">Workshop “Plant Artist” tạo nên một không gian sáng tạo, nghệ thuật và thiết
                            thực. Những ai yêu thích cây cảnh và nghệ thuật sẽ có cơ hội vẽ những chậu hoa xinh đẹp
                            bằng chính đôi tay và nét vẽ của mình.
                        </p>
                        <a class="btn-hover-bg btn btn-primary text-white py-2 px-3" href="#"
                           style="border-radius: 8px;">Mua ngay</a>
                    </div>
                </div>
            </div>
            <!-- Ticket Item End -->

            <!-- Ticket Item Start -->
            <div class="col-lg-6 col-xl-3">
                <div class="causes-item">
                    <div class="causes-img">
                        <img src="img/M2.jpg" class="img-fluid w-100" alt="Art Exhibition Ticket">
                        <div class="causes-link pb-2 px-3">
                            <small class="text-white"><i class="fas fa-chart-bar text-primary me-2"></i>Giá từ:
                                Miễn Phí</small>
                            <small class="text-white"><i class="fa fa-thumbs-up text-primary me-2"></i>Số lượng:
                                100</small>
                        </div>
                        <div class="causes-dination p-2">
                            <a class="btn-hover-bg btn btn-primary text-white py-2 px-3" href="#"
                               style="border-radius: 8px;">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="causes-content p-4">
                        <h4 class="mb-3">Khoá tu - Tìm về chính mình</h4>
                        <p class="mb-4">“TÌM VỀ CHÍNH MÌNH" là khoá tu dành cho các bạn từ 18 tuổi trở lên. Tham dự
                            khoá tu, các bạn có cơ hội tắm mình trong năng lượng bình an nơi Tịnh Viện làm mới bản
                            thân sau một năm dài học tập, làm việc căng thẳng, mệt nhọc. </p>
                        <a class="btn-hover-bg btn btn-primary text-white py-2 px-3" href="#"
                           style="border-radius: 8px;">Mua ngay</a>
                    </div>
                </div>
            </div>
            <!-- Ticket Item End -->

            <!-- Ticket Item Start -->
            <div class="col-lg-6 col-xl-3">
                <div class="causes-item">
                    <div class="causes-img">
                        <img src="img/M3.jpg" class="img-fluid w-100" alt="Movie Ticket">
                        <div class="causes-link pb-2 px-3">
                            <small class="text-white"><i class="fas fa-chart-bar text-primary me-2"></i>Giá từ:
                                3.500000</small>
                            <small class="text-white"><i class="fa fa-thumbs-up text-primary me-2"></i>Số lượng:
                                200</small>
                        </div>
                        <div class="causes-dination p-2">
                            <a class="btn-hover-bg btn btn-primary text-white py-2 px-3" href="#"
                               style="border-radius: 8px;">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="causes-content p-4">
                        <h4 class="mb-3">Khoá học tiếng Hàn cấp tốc</h4>
                        <p class="mb-4">Khoá học tiếng hàn cấp tốc với đội ngũ giảng viên chuyên nghiệp</p>
                        <a class="btn-hover-bg btn btn-primary text-white py-2 px-3" href="#"
                           style="border-radius: 8px;">Mua ngay</a>
                    </div>
                </div>

            </div>
            <!-- Ticket Item End -->
        </div>
    </div>
</div>
<!-- Causes End -->

<div id="footer"></div> <!-- Thêm div cho footer -->

<div id="modalContainer"></div> <!-- Để chứa nội dung modal từ fetch -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top" style="border-radius: 8px;"><i
        class="fa fa-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/lightbox/js/lightbox.min.js"></script>


<!-- Template Javascript -->
<script src="js/main.js"></script>

</body>

</html>