<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Detail-Ticket</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">


<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap"
	rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
	rel="stylesheet">
<link rel="icon" href="img/icon.png" type="image/x-icon">
<!-- Libraries Stylesheet -->
<link href="lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">


<!-- Customized Bootstrap Stylesheet -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="css/style.css" rel="stylesheet">

<style>
.form-logo {
	text-align: center;
	border: 2px dashed #ccc;
	padding: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.form-logo img {
	width: 200px;
	height: 200px;
}

.form-section {
	display: flex;
	align-items: flex-start;
}

.form-section .col-sm-4, .form-section .col-sm-8 {
	padding: 15px;
}

.form-section .col-sm-4 {
	max-width: 360px;
}

.form-section .col-sm-8 {
	flex: 1;
}

.btn-orange {
	background-color: orange;
	color: white;
	border: none;
}

.btn-orange:hover {
	background-color: darkorange;
}

.d-flex {
	display: flex;
	flex-wrap: nowrap;
}

.flex-fill {
	flex: 1;
}
</style>

</head>

<body>

	<!-- Spinner Start -->
	<div id="spinner"
		class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
		<div class="spinner-grow text-primary" role="status"></div>
	</div>
	<!-- Spinner End -->

	<!-- Navbar start -->
	<div class="container-fluid fixed-top px-0">
		<div class="container px-0" style="max-width: 100%;">
			<div class="topbar">
				<div class="row align-items-center justify-content-center">
					<div class="col-md-8">
						<div class="topbar-info d-flex flex-wrap">
							<a href="#" class="text-light me-4"><i
								class="fas fa-envelope text-white me-2"></i>minhtac103@gmail.com</a>
							<a href="#" class="text-light"><i
								class="fas fa-phone-alt text-white me-2"></i>+0395740351</a>
						</div>
					</div>
					<div class="col-md-4">
						<div
							class="topbar-icon d-flex align-items-center justify-content-end">
							<a href="#" class="btn-square text-white me-2"><i
								class="fab fa-facebook-f"></i></a> <a href="#"
								class="btn-square text-white me-2"><i class="fab fa-twitter"></i></a>
							<a href="#" class="btn-square text-white me-2"><i
								class="fab fa-instagram"></i></a> <a href="#"
								class="btn-square text-white me-2"><i
								class="fab fa-pinterest"></i></a> <a href="#"
								class="btn-square text-white me-0"><i
								class="fab fa-linkedin-in"></i></a>
						</div>
					</div>
				</div>
			</div>
			<nav class="navbar navbar-light bg-light navbar-expand-xl">
				<a href="index.html" class="navbar-brand ms-3">
					<h1 class="text-primary display-5">PassExChange</h1>
				</a>
				<button class="navbar-toggler py-2 px-3 me-3" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
					<span class="fa fa-bars text-primary"></span>
				</button>

				<div class="style__Wrapper-sc-czt9o-0 eyfsCu">
					<span><svg width="24" height="24" viewBox="0 0 24 24"
							fill="none" xmlns="http://www.w3.org/2000/svg" id="search-icon">
                            <path
								d="M11 17a6 6 0 100-12 6 6 0 000 12zM18.5 18.5l-3-3"
								stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10"
								stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg></span><input type="text" name="search-input"
						id="search-input" readonly="" placeholder="Bạn tìm gì hôm nay?"
						value="">
					<button>Tìm kiếm</button>
				</div>
				<div class="collapse navbar-collapse bg-light" id="navbarCollapse">

					<div class="d-flex align-items-center flex-nowrap pt-xl-0"
						style="margin-left: 15px;">
						<a href="" class="btn-hover-bg btn btn-primary text-white">Đăng
							bán vé</a>
					</div>

					<div class="navbar-nav ms-auto">
						<a th:href="@{/index}" class="nav-item nav-link active">Home</a> <a
							href="about.html" class="nav-item nav-link">Music</a> <a
							href="service.html" class="nav-item nav-link">Theaters & Art</a>
						<a href="causes.html" class="nav-item nav-link">Movie</a> <a
							href="events.html" class="nav-item nav-link">Events</a>
					</div>
					<div class="d-flex align-items-center flex-nowrap pt-xl-0"
						style="margin-left: 15px;">
						<a href=""
							class="btn-hover-bg btn btn-primary text-white py-2 px-4 me-3">Login</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!-- Navbar End -->

	<!-- Body Start -->
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-12">
				<div class="card mt-5">
					<div class="card-body">
						<form>
							<div class="form-section">
								<div class="col-sm-4">
									<div class="form-logo mb-4" id="ticketLogoContainer">
										<img src="https://via.placeholder.com/100" alt="Event Logo"
											id="ticketLogoImage">
										<p>Thêm Ảnh Vé</p>
										<br> <input type="file" id="ticketLogoInput"
											accept="image/*">
									</div>
									<div class="form-logo mb-4" id="ticketLogoContainer">
										<img src="https://via.placeholder.com/100" alt="Event Logo"
											id="ticketLogoImage">
										<p>Cung cấp QR code</p>
										<br> <input type="file" id="ticketLogoInput"
											accept="image/*">
									</div>

								</div>

								<div class="col-sm-8">
									<div class="form-group">
										<label for="eventName">Tên Vé</label> <input type="text"
											class="form-control" id="eventName" maxlength="100" required>
									</div>
									<div class="form-group">
										<label for="ticketPrice">Giá Vé</label> <input type="text"
											class="form-control" id="ticketPrice" maxlength="100"
											required>
									</div>
									<div class="form-group">
										<label for="showDate">Ngày Chiếu</label> <input type="text"
											class="form-control" id="showDate" maxlength="100" required>
									</div>

									<div class="form-group">
										<label for="eventAddress">Địa Chỉ Chiếu *</label> <input
											type="text" class="form-control mt-2" id="locationName"
											placeholder="Tên địa điểm" maxlength="80">

										<div class="form-row mt-3 d-flex">
											<div class="form-group flex-fill">
												<select class="form-control" id="province">
													<option value="">Tỉnh/Thành</option>
													<!-- Add options here -->
												</select>
											</div>
											<div class="form-group flex-fill">
												<select class="form-control" id="district">
													<option value="">Quận/Huyện</option>
													<!-- Add options here -->
												</select>
											</div>
											<div class="form-group flex-fill">
												<select class="form-control" id="ward">
													<option value="">Phường/Xã</option>
													<!-- Add options here -->
												</select>
											</div>
										</div>

										<input type="text" class="form-control" id="streetAddress"
											placeholder="Số nhà, đường" maxlength="80">
									</div>

									<div class="form-group mt-3">
										<label for="ticketCategory">Thể Loại Vé *</label> <select
											class="form-control" id="ticketCategory">
											<option value="">Vui lòng chọn</option>
											<!-- Add options here -->
										</select>
									</div>
									<div class="form-group mt-3">
										<label for="ticketCategory">Mô Tả Vé</label> <br>
										<textarea name="" id="" style="width: 680px;"></textarea>
									</div>
								</div>
							</div>

							<div class="form-group text-center">
								<button type="submit" class="btn btn-orange">Đăng Vé</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		document.getElementById('ticketLogoContainer').addEventListener(
				'click', function() {
					document.getElementById('ticketLogoInput').click();
				});

		document
				.getElementById('ticketLogoInput')
				.addEventListener(
						'change',
						function(event) {
							const file = event.target.files[0];
							if (file) {
								const reader = new FileReader();
								reader.onload = function(e) {
									document.getElementById('ticketLogoImage').src = e.target.result;
								}
								reader.readAsDataURL(file);
							}
						});

		document.getElementById('qrCodeContainer').addEventListener('click',
				function() {
					document.getElementById('qrCodeInput').click();
				});

		document
				.getElementById('qrCodeInput')
				.addEventListener(
						'change',
						function(event) {
							const file = event.target.files[0];
							if (file) {
								const reader = new FileReader();
								reader.onload = function(e) {
									document.getElementById('qrCodeImage').src = e.target.result;
								}
								reader.readAsDataURL(file);
							}
						});
	</script>

	<!-- Footer Start -->
	<div class="container-fluid footer bg-dark text-body py-5">
		<div class="container py-5">
			<div class="row g-5">
				<div class="col-md-6 col-lg-6 col-xl-3">
					<div class="footer-item">
						<h4 class="mb-4 text-white">Newsletter</h4>
						<p class="mb-4">Dolor amet sit justo amet elitr clita ipsum
							elitr est.Lorem ipsum dolor sit amet, consectetur adipiscing elit
							consectetur adipiscing elit.</p>
						<div class="position-relative mx-auto">
							<input
								class="form-control border-0 bg-secondary w-100 py-3 ps-4 pe-5"
								type="text" placeholder="Enter your email">
							<button type="button"
								class="btn-hover-bg btn btn-primary position-absolute top-0 end-0 py-2 mt-2 me-2">SignUp</button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-3">
					<div class="footer-item d-flex flex-column">
						<h4 class="mb-4 text-white">Our Services</h4>
						<a href=""><i class="fas fa-angle-right me-2"></i> Ocean
							Turtle</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							White Tiger</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							Social Ecology</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							Loneliness</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							Beauty of Life</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							Present for You</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-3">
					<div class="footer-item d-flex flex-column">
						<h4 class="mb-4 text-white">Volunteer</h4>
						<a href=""><i class="fas fa-angle-right me-2"></i> Karen
							Dawson</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							Jack Simmons</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							Michael Linden</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							Simon Green</a> <a href=""><i class="fas fa-angle-right me-2"></i>
							Natalie Channing</a> <a href=""><i
							class="fas fa-angle-right me-2"></i> Caroline Gerwig</a>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-3">
					<div class="footer-item">
						<h4 class="mb-4 text-white">Our Gallery</h4>
						<div class="row g-2">
							<div class="col-4">
								<div class="footer-gallery">
									<img src="img/gallery-footer-1.jpg" class="img-fluid w-100"
										alt="">
									<div class="footer-search-icon">
										<a href="img/gallery-footer-1.jpg"
											data-lightbox="footerGallery-1" class="my-auto"><i
											class="fas fa-search-plus text-white"></i></a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="footer-gallery">
									<img src="img/gallery-footer-2.jpg" class="img-fluid w-100"
										alt="">
									<div class="footer-search-icon">
										<a href="img/gallery-footer-2.jpg"
											data-lightbox="footerGallery-2" class="my-auto"><i
											class="fas fa-search-plus text-white"></i></a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="footer-gallery">
									<img src="img/gallery-footer-3.jpg" class="img-fluid w-100"
										alt="">
									<div class="footer-search-icon">
										<a href="img/gallery-footer-3.jpg"
											data-lightbox="footerGallery-3" class="my-auto"><i
											class="fas fa-search-plus text-white"></i></a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="footer-gallery">
									<img src="img/gallery-footer-4.jpg" class="img-fluid w-100"
										alt="">
									<div class="footer-search-icon">
										<a href="img/gallery-footer-4.jpg"
											data-lightbox="footerGallery-4" class="my-auto"><i
											class="fas fa-search-plus text-white"></i></a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="footer-gallery">
									<img src="img/gallery-footer-5.jpg" class="img-fluid w-100"
										alt="">
									<div class="footer-search-icon">
										<a href="img/gallery-footer-5.jpg"
											data-lightbox="footerGallery-5" class="my-auto"><i
											class="fas fa-search-plus text-white"></i></a>
									</div>
								</div>
							</div>
							<div class="col-4">
								<div class="footer-gallery">
									<img src="img/gallery-footer-6.jpg" class="img-fluid w-100"
										alt="">
									<div class="footer-search-icon">
										<a href="img/gallery-footer-6.jpg"
											data-lightbox="footerGallery-6" class="my-auto"><i
											class="fas fa-search-plus text-white"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer End -->



	<!-- Copyright Start -->
	<div class="container-fluid copyright py-4">
		<div class="container">
			<div class="row g-4 align-items-center">
				<div class="col-md-4 text-center text-md-start mb-md-0">
					<span class="text-body"><a href="#"><i
							class="fas fa-copyright text-light me-2"></i>Your Site Name</a>, All
						right reserved.</span>
				</div>
				<div class="col-md-4 text-center">
					<div class="d-flex align-items-center justify-content-center">
						<a href="#" class="btn-hover-color btn-square text-white me-2"><i
							class="fab fa-facebook-f"></i></a> <a href="#"
							class="btn-hover-color btn-square text-white me-2"><i
							class="fab fa-twitter"></i></a> <a href="#"
							class="btn-hover-color btn-square text-white me-2"><i
							class="fab fa-instagram"></i></a> <a href="#"
							class="btn-hover-color btn-square text-white me-2"><i
							class="fab fa-pinterest"></i></a> <a href="#"
							class="btn-hover-color btn-square text-white me-0"><i
							class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
				<div class="col-md-4 text-center text-md-end text-body">
					<!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
					<!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
					<!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
					Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML
						Codex</a> Distributed By <a class="border-bottom"
						href="https://themewagon.com">ThemeWagon</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright End -->


	<!-- Back to Top -->
	<a href="#"
		class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
		class="fa fa-arrow-up"></i></a>


	<!-- JavaScript Libraries -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="lib/easing/easing.min.js"></script>
	<script src="lib/waypoints/waypoints.min.js"></script>
	<script src="lib/counterup/counterup.min.js"></script>
	<script src="lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="lib/lightbox/js/lightbox.min.js"></script>


	<!-- Template Javascript -->
	<script src="js/main.js"></script>

</body>

</html>